# Banco de dados
*.db
*.sqlite
*.sqlite3
instance/

# Arquivos Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# Uploads (fotos)
static/uploads/fotos/*

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db